.Weather {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 600px;
  margin: 0px auto;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ece588;
  background-color: #fdfacf;
}
.Weather form {
  margin-bottom: 20px;
}
.Weather h1 {
  color: maroon;
  display: block;
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
}
.Weather li {
  list-style: none;
  color: rgb(142, 44, 142);
  font-size: 13px;
  font-weight: 100;
  line-height: 19px;
}
.WeatherIcon canvas {
  margin-top: 5px;
  margin-right: 5px;
  color: brown;
}
.Weather .temperature {
  font-weight: bold;
  font-size: 46px;
  font-weight: 400;
  line-height: 64px;
  color: brown;
}
.WeatherTemperature .unit {
  font-size: 16px;
  position: relative;
  margin-left: 0px;
  color: coral;
  top: -34px;
  font-weight: 400;

  text-decoration: none;
}

.Weather .riseSet {
  color: rgb(212, 95, 53);
}
